@model IEnumerable<Ticket>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Category:</label>
                <select name="filter" class="form-select" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name", ViewBag.Filters.CategoryId))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Due:</label>
                <select name="filter" class="form-select" asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select name="filter" class="form-select" asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" class="btn btn-primary">Clear</a>
        </form>
    </div>

    <div class="col-md-10">
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    string overdue = task.Overdue ? "bg-warning" : "";
                    <tr>
                        <td>@task.Description</td>
                        <td>@task.Category.Name</td>
                        <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                        <td class="@overdue">@task.Status.Name</td>
                        <td>
                            @if (task.StatusId == "open")
                            {
                                <form asp-action="MarkCompleted" method="post">
                                    <input type="hidden" name="taskId" value="@task.Id" />
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        Mark Completed
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
            <a asp-action="Add" class="btn btn-primary">Add new task</a>
            <button type="submit" class="btn btn-primary">Delete completed tasks</button>
        </form>
    </div>
</div>